.HorizontalMenuNavRoot {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.HorizontalMenuUL {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    text-decoration: none !important;
    transition: 0.3s;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.HorizontalMenuLI {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0px !important;
    box-sizing: border-box;
    width: 100%;
}

/*.HorizontalMenuLI:hover .HorizontalMenuDropDownUL {*/
/*    display: flex;*/
/*}*/

.HorizontalMenuDropDownUL {
    display: flex;
    position: absolute;
    z-index: 999999999999999999999999999999;
    background-color: #f9f9f9;
    top: 100%;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.HorizontalMenuDropDownLI {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 12px;
    box-sizing: border-box;
    width: 100%;
}
