.fixed-holder{
    position: fixed;
    margin-top: 0;
    z-index: 52;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    pointer-events: none;
    overflow: hidden;
}
