.AwesomeGridLayoutRoot {
    pointer-events: auto;
    -ms-overflow-style: none;
}
.AwesomeGridLayoutGrid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    box-sizing: border-box;
}
.AwesomeGridLayoutFake{
}
.AwesomeGridLayoutHolder {
    display: grid;
    width: 100%;
    height: 100%;
    position: relative;
}
.AwesomeGridLayoutCursorMove {
    cursor: move;
}
.AwesomeGridLayoutRootHover {
    pointer-events: none;
    box-shadow: rgba(4, 80, 214, 0.81) 0 0 0 1px;
    transform: translateY(100%);
}
/*.AwesomeGridLayoutRoot::-webkit-scrollbar {
    display: none;
}*/
/*TODO add firefox support*/

.AGLHoverCompName {
    position: absolute;
    color: rgba(9, 13, 213, 0.81);
    font-size: 12px;
    transform: translateY(-100%);
    left: 2px;
    top: -2px;
    font-weight: bold;
}

.AwesomeGridLayoutChild {
    position: absolute;
}
.AGLAnchor{
    position: absolute;
    top: 0;
}
