.AddComponentRoot {
    position: fixed;
    z-index: 9999999999;
    bottom: 0;
    width: auto;
    background-color: white;
    display: flex;
    border-right: 1px solid #e5e5e5;
    box-sizing: border-box;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    transform-origin: 0 0;
    top: calc(48px / var(--zoom-scale));
    height: calc(100% - calc(48px / var(--zoom-scale)));

}

.AddComponentList{
    border-right: 1px solid #e5e5e5;
    width: auto;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    box-sizing: border-box;
}

.AddComponentListItem{
    padding: 6px 24px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: bold;
}
.AddComponentListItem:hover{
    background-color: #f6f6f6;
}

.AddComponentSubList{
    border-right: 1px solid #e5e5e5;
    width: auto;
    height: 100%;
    overflow-y: auto;
    padding: 12px 0;
    box-sizing: border-box;
}

.AddComponentSubListGroup{
    padding: 6px 24px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: bold;
    color: #c2c2c2;
}

.AddComponentSubListItem{
    padding: 6px 24px;
    box-sizing: border-box;
    font-size: 12px;
}
.AddComponentSubListItem:hover{
    background-color: #f6f6f6;
}

.AddComponentItemGrid{
    width: 400px;
    height: 100%;
    overflow-y: overlay;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.AddComponentItemGridItem{
    box-sizing: border-box;
    padding: 6px;
    cursor: pointer;
}

.AddComponentItemGridItem:hover{
    background-color: #f6f6f6;
}

.AddComponentItemGridItemImage{
}

.AddComponentItemGridItemLabel{
    text-align: center;
    box-sizing: border-box;
    font-size: 12px;
}
