.ThemeManagerList{
    border-right: 1px solid #e5e5e5;
    width: auto;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    box-sizing: border-box;
    min-width: 120px;
}

.ThemeManagerRoot {
    position: fixed;
    z-index: 9999999999;
    bottom: 0;
    width: auto;
    background-color: white;
    display: flex;
    border-right: 1px solid #e5e5e5;
    box-sizing: border-box;

    transform-origin: 0 0;
    top: calc(48px / var(--zoom-scale));
    height: calc(100% - calc(48px / var(--zoom-scale)));
}

.ThemeManagerCategoryItem{
    padding: 6px 24px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.ThemeManagerCategoryItem:hover{
    background-color: #f6f6f6;
}

.ThemeManagerItemRoot{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.ThemeManagerItemRoot > *{
    box-sizing: border-box;
}

.ThemeManagerItemScroll{
    overflow-y: auto;
    width: auto;
    flex: 1;
}

.ThemeManagerItemHeaderContainer {
    cursor: move;
    width: 100%;
    height: 48px;
    padding: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

.ThemeManagerItemHeaderTitle{
    flex: 1;
    font-weight: bold;
}

.ThemeColorsItemRoot{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
    padding: 12px;
    box-sizing: border-box;
}

.ThemeTextItemRoot{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
    padding: 12px;
    box-sizing: border-box;
}

.ThemeTextItemRoot:hover{
    background-color: #eaeaea;
}

.ThemeTextItemName{
    font-family: WixMadeforText_W_Bd, HelveticaNeueW01-65Medi, HelveticaNeueW02-65Medi, HelveticaNeueW10-65Medi, "Helvetica Neue", Helvetica, Arial, メイリオ, meiryo, "ヒラギノ角ゴ pro w3", "hiragino kaku gothic pro", sans-serif;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #868aa5;
    text-transform: uppercase;
}

.ThemeTextItemDetail{
    font-family: WixMadeforText_W_Rg,HelveticaNeueW01-55Roma,HelveticaNeueW02-55Roma,HelveticaNeueW10-55Roma,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-top: 4px;
    -webkit-font-smoothing: antialiased;
}

.ThemeTextItemEdit{
    position: absolute !important;
    top: 8px !important;
    right: 8px !important;
}

.ThemeColorsItemDetail{
    margin-top: 8px;
    display: flex;
}

.ThemeColorsItemDetailMain{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    position: relative;
}

.ThemeColorsItemDetailMain:hover{
    box-shadow: 0 6px 6px 0 #a1a1a1;
}

.ThemeColorsItemDetailMain:hover .ThemeColorsItemDetailOverlay{
    opacity: 1;
}

.ThemeColorsItemDetailSecondary{
    margin-left: 12px;
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
}

.ThemeColorsItemDetailSecondaryItem{
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.ThemeColorsItemDetailSecondaryItem:hover{
    box-shadow: 0 6px 6px 0 #a1a1a1;
}

.ThemeColorsItemDetailOverlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .5s ease;
}

.ThemeColorsItemDetailSecondaryItem:hover .ThemeColorsItemDetailOverlay{
    opacity: 1;
}
