.rst__placeholder1 {
    position: relative;
    height: 68px;
    max-width: 300px;
    padding: 10px;
}
.rst__placeholder1,
.rst__placeholder1 > * {
    box-sizing: border-box;
}
.rst__placeholder1::before {
    border: 3px solid #d9d9d9;
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    z-index: -1;
}

/**
 * The outline of where the element will go if dropped, displayed while dragging
 */
.rst__placeholderLandingPad1,
.rst__placeholderCancelPad1 {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
.rst__placeholderLandingPad1 *,
.rst__placeholderCancelPad1 * {
    opacity: 0 !important;
}
.rst__placeholderLandingPad1::before,
.rst__placeholderCancelPad1::before {
    background-color: #0040e6;
    border-color: white;
}

/**
 * Alternate appearance of the landing pad when the dragged location is invalid
 */
.rst__placeholderCancelPad1::before {
    background-color: #e60008;
}
