.CommonMenuRoot {
    width: 100%;
}

.ColorPickerRoot {
    display: flex;
    align-items: center;
}

.ColorPickerRGB {
    width: 28px;
    background-repeat: repeat;
    background-size: 12px 12px;
    border-radius: 4px !important;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(152, 152, 152);
}

.ColorPickerRGB > div {
    width: 28px;
    height: 28px;
    border-radius: 4px;
}

.ColorPickerRGB:hover {
    border: 1px solid rgb(75, 75, 75)
}

.ColorPickerAlpha {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.NumberInput{
    padding: 4px;
    border: 1px solid rgb(152, 152, 152) !important;
    border-radius: 4px;
    height: 30px;
    display: flex;
    align-items: center;
    width: 48px;
    background-color: unset;
    text-align: center;
    box-sizing: border-box;
}

.DropDownSpan{
    padding: 4px;
    border: 1px solid rgb(152, 152, 152);
    border-radius: 4px;
    height: 30px;
    display: flex;
    align-items: center;
    width: 48px;
    background-color: unset;
    text-align: center;
    box-sizing: border-box;
}

.NumberInput:hover {
    border: 1px solid rgb(75, 75, 75) !important;
    border-radius: 4px;
}
.NumberInput:focus {
    border: 1px solid rgb(24, 141, 255) !important;
    border-radius: 4px;
    outline-width: 0;
}

.NumberInputWithUnit{
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.NumberInputWithUnitDisabled {
    position: absolute;
    border-radius: 4px;
    padding: 4px;
    height: 30px;
    border: 1px solid rgb(152, 152, 152) !important;
    background-color: #dfdfdf;
    opacity: 0.5;
    box-sizing: border-box;
}

.InputUnitButton {
    position: absolute !important;
    right: 0;
}

.Divider{
    height: 1px;
    background-color: #cccccc;
    margin: 8px 16px;
    display: inline-table;
}

.CircularSliderRoot {
    position: relative;
    display: flex;
    justify-content: center;
}

.CircularSliderBg {
    border: 4px solid #e9e9e9;
    border-radius: 50%;
}

.CircularSliderKnob {
    position: absolute;
    left: 50%;
    bottom: 2px;
    padding: 6px;
    transform: translate(-50%, 50%);
    cursor: grab;
    border-radius: 50%;
    border: solid 2px #96dbfa;
    background-color: #fff;
    touch-action: pan-x;
}

.CircularSliderLine {
    position: absolute;
    width: 1px;
    height: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e9e9e9;
}

.CircularSliderCenter {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e9e9e9;
}

.DropDOwnDisabled {
    position: absolute;
    border-radius: 4px;
    padding: 4px;
    height: 30px;
    border: 1px solid rgb(152, 152, 152) !important;
    background-color: #dfdfdf;
    opacity: 0.5;
    box-sizing: border-box;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.DropDownRoot {
    position: relative;
}
.DropDOwnArrow{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.GridViewerRoot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
}
